<!DOCTYPE html>
<html>
<head>
<title>Edureka Node.js MongoDB Demo</title>
</head> 
 
<div align="center">
<!-- Inserting the image -->
</div > 
     <!-- retrieving HTML String from the child Views -->
    {{{body}}}
 </div>

</div>
 
 
</div>
 
 
</body>
</html>